# File: .gitignore

# Environments
.env
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc

# Data & Outputs
# Ignore everything inside the data folder by default (outputs, images, etc.)
data/*

# EXCEPT for the nse_data folder and its contents (required for open-source users)
!data/nse_data/ 
